<header role="banner">
    <div>
        <a href="{{ content_root_path() }}">
            <img height="80" src="{{ asset('bundles/clientwebsite/default/images/sulu.png') }}" alt="SULU CMF">
        </a>
    </div>

    {# LANGUAGE CHOOSER #}
    <ul role="menu" aria-labelledby="language-selector">
        {% for locale, url in urls %}
            <li><a href="{{ content_path(url, request.webspaceKey, locale) }}">{{ locale }}</a></li>
        {% endfor %}
    </ul>

    {# SEARCH #}
    <form action="{{ path(request.portalUrl ~ '.website_search') }}" method="GET" role="search">
        <input name="q" type="text" placeholder="Search">
        <input type="submit" value="Go">
    </form>

    {# NAVIGATION #}
    {% include 'ClientWebsiteBundle:includes:navigation.html.twig' %}
</header>
