{%- set language = request.locale|default('en') -%}
{%- set company = 'MASSIVE ART WebServices GmbH' -%}
{%- set client = 'ClientName' -%}
{%- set image = 'http://placehold.it/400/400' -%}
{%- set livereloadPort = '1337' %}

<!DOCTYPE html>
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="{{ language }}"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="{{ language }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ language }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{% block title %}{% endblock %}</title>

    {%- include 'ClientWebsiteBundle:includes:meta.html.twig' -%}

    {# CSS #}
    {%- stylesheets
        '@ClientWebsiteBundle/Resources/public/default/css/main.css'
        'http://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:400,700,400italic,700italic'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets -%}

    {# JS #}
    {%- javascripts '@ClientWebsiteBundle/Resources/public/default/js/modernizr.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts -%}
</head>
<body>
    {% include 'ClientWebsiteBundle:includes:header.html.twig' %}

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    {% include 'ClientWebsiteBundle:includes:footer.html.twig' %}

    {# JAVASCRIPT FILES #}
    {% javascripts
        'http://code.jquery.com/jquery-1.11.3.min.js'
        '@ClientWebsiteBundle/Resources/public/default/js/script.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if (app.environment|default('') == 'dev') %}
        <script src="http://{{ app.request.host|default('') ~ ':' ~ livereloadPort ~ '/livereload.js' }}"></script>
    {% endif %}
</body>
</html>
